@import './_mixin.scss';

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  @include poppins-regular; 
}

.bird-selection-section {
  width: 100%;
  display: flex;
/*   padding-left: calc(1vw + 1vh);
  padding-right: calc(1vw + 1vh); */
  & .image-container {
    flex: 1;
    height: 100%;
    & img {
      width: 100%;
      object-fit: cover;
    }
  }

  .bird-map-container {
    flex: 0.5; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(0.5vw + 0.5vh);
    gap: calc(1vw + 1vh);
    & h1 {
      display: flex;
      gap: calc(0.2vw + 0.2vh);
      align-items: center;
      & h6 {
        color: red;
      }
    }
    & .bird-map-form {
      & form {
        display: flex;
        gap: calc(0.2vw + 0.2vh);
        & select {
          border-radius: 25px;
        }
        & input {
          border-radius: 25px;
        }
        & input[type="number"] {
          width: calc(1.2vw + 1.2vh);
          border-radius: 0px;
          text-align: center;
        }

        & input[type="submit"] {
          width: calc(3vw + 3vh);
          font-size: calc(0.4vw + 0.4vh);
        }
      }
    }
    & ul {
      width: 80%;
      & li {
        border: solid 1px black;
        padding-left: calc(0.3vw + 0.3vh);
        padding-right: calc(0.3vw + 0.3vh);
        padding-top: calc(0.3vw + 0.3vh);
        padding-bottom: calc(0.3vw + 0.3vh);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        gap: calc(0.3vw + 0.3vh);
        list-style: none;
        margin-bottom: calc(1vw + 1vh);
        & span {
          border: solid 1px black;
          border-radius: 25px;
          padding-left: calc(0.3vw + 0.3vh);
          @include poppins-bold;
          font-size: calc(0.8vw + 0.8vh);
          text-align: center;
        }
        & .bird-error {
          border: none;
          @include poppins-bold;
          color: red;
        }
        & .bird-button-box {
          display: flex;
          justify-content: center;
          gap: calc(1vw + 1vh);
          & button {
            width: 40%;
            height: 25%;
            border: none;
            @include poppins-bold;
            border-radius: 25px;
            background-color: $blue-fb;
            color: $white-font;
            font-size: calc(0.6vw + 0.6vh);
          }
        }
      }
    }
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: $black-footer;
  color: $white-font;
  & .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(2vw + 2vh);
    border-bottom: white;
    padding-left: calc(1vw + 1vh);
    padding-right: calc(1vw + 1vh);
    & .social-icons-container {
      display: flex;
      align-items: center;
      width: auto;
      height: 100%;
      gap: calc(0.9vw + 0.9vh);
      & .social-icons-fb {
        width: 24px;
        height: 24px;
      }

      & .social-icons-fb svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@import './media'